body {
    background-color: rgb(252 231 192);
    background-size: cover;
    background-repeat: no-repeat;
    height: 99vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sofia", sans-serif;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    border-radius: 20px;
}

.box-1 {
    font-family: Audiowide;
    background: url("https://images.unsplash.com/photo-1644035657299-9376025604aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDk0fENEd3V3WEpBYkV3fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    border-radius: 20px 0px 0px 20px;
    background-size: cover;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.box-1 h1 {
    padding: 20px;
    line-height: 50px;
    color: white;
    font-size: 30px;
}

.signup h1, .index-5 {
    text-align: center;
}

.signup {
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    width: 300px;
    padding: 40px 30px;
}

form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

form div {
    padding: 10px 0px;
}
input {
    background-color: transparent;
}

input::placeholder,
.index-1 i,
.index-2 i {
    color: rgb(26, 24, 24);
}

input[type="text"],
input[type="password"] {
    border: none;
    padding: 0px 5px;
    width: 100%;
}

input[type="submit"] {
    color: white;
    border: none;
    background-color: rgb(231 130 0);
    width: 100%;
    padding: 10px 0px;
    border-radius: 20px;
    font-weight: bold;
}

input[type="submit"]:hover {
    border: none;
    color: black;
    border: 1px solid black;
    background-color: transparent;
}
.index-1,
.index-2 {
    border-bottom: 1px solid black;
    display: flex;
}
@media screen and (max-width:600px) {
    .box-1{
    display: none;
    }
.signup{
    border-radius: 20px;
    width: 200px;
    }
}
